*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

#fade{
    display:none;
}

#contentid{
    display:none;
}

a{
    list-style: none;
    text-decoration: none;
}

.title{
    padding: 20px;
    padding-left: 10%;
}

.title p{
    font-size: 1.5vmax;
    color: black;
}

.anchors{
    border-top:     2px black solid;
    border-bottom:  2px black solid;
    background-color: white;
    margin: 0 10px 0 10px; 
    position: fixed;
    top: 0;
    width: 100%;
}

.anchors a{
    list-style: none;
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 5px;
    font-size: 1.7vmax;
}

.anchors>ul{
    display: flex;
    width: 100%;
    text-align: center;
}

.anchors>ul>li{
    list-style: none;
    flex: 1;
}

.about{
    background-color: black;
    background-repeat:no-repeat;
    background-size:100%;
    border-radius: 25px;
    margin: 30px 30% 30px 30%;

}

.about>p{
    text-align: center;
    color: white;
    font-size: 1.3vmax;
    padding: 30px 30px 100px 30px;
}

.contact{
    border-top: black 5px solid;
    border-bottom: black 5px solid;
    background-repeat:no-repeat;
    background-size:100%;
    margin: 30px 30% 30px 30%;

}

.contact>p{
    color: black;
    font-size: 1.1vmax;
    padding: 30px 30px 30px 30px;
    text-align: center;
}


.container-ButtonLinks{
    margin: 20px 30% 20px 30%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.5vmax;
}

.ButtonLinks{
    background-color: black;
    padding: 30px;
    border-radius: 100px;
    flex: 40%;
    margin: 5px; 
}
.ButtonLinks>p{
    color: white;
}

.ButtonLinks:nth-child(1){
    background-color: #0077b5;
}

.ButtonLinks:nth-child(1)>p{
    color: black;
}

.porto{
    /* background-color: black; */
    background-repeat:no-repeat;
    background-size:100%;
    border-top: black 5px solid;
    border-bottom: black 5px solid;
    margin: 30px 30% 30px 30%;
}

.porto a{
    list-style: none;
    text-decoration: none;
}

.porto>p{
    color: black;
    font-size: 1.5vmax;
    padding: 0 30px 30px 30px;
    text-align: center;
}

.porto img{
    max-width:  100%;
    max-height: 100%;
    padding: 30px 30px 30px 30px;
}

.porto-content{
    border-left: black 5px solid;
    border-right: black 5px solid;
    margin: 10px 0 30px 0;
}

.porto-content>p{
    font-size: 1.1vmax;
    padding-left: 10px;
}

@media (max-width: 1100px){
    .anchors{
        position: static;
        margin: 0 0 0 0;
    }

    .anchors a{
        font-size: 3vmax;
    }

    .title{
        padding: 2vmax;
        text-align: center;
    }

    .title p{
        font-size: 4vmax;
    }

    .about{
        margin: 30px 5% 30px 5%;
    }

    .about>p{
        font-size: 2vmax;
    }

    .contact{
        margin: 30px 5% 30px 5%;
    }

    .contact>p{
        font-size: 2vmax;
    }

    .container-ButtonLinks{
        margin: 10px 5% 10px 5%;
    }

    .ButtonLinks{
        margin: 5px;
        flex: 100%;
    }
    .ButtonLinks>p{
        font-size: 2.5vmax;
    }

    .porto{
        margin: 30px 5% 30px 5%;
    }

    .porto>p{
        font-size: 2vmax;
    }

    .porto-content p{
        font-size: 2vmax;
    }
}
