*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

#fade{
    display:none;
}

a{
    color: black;
    list-style: none;
    text-decoration: none;
}

.title{
    /* background-color: #27594b; */
    padding: 20px;
    padding-left: 10%;
}

.title p{
    font-size: 2vmax;
    /* padding-left: 10%; */
    color: black;
    /* border: 5px dotted red; */
}

.anchors{
    /* background-color: black; */
    border-top:     2px black solid;
    border-bottom:  2px black solid;
    margin: 0 10px 0 10px; 
}

.anchors a{
    list-style: none;
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 5px;
    font-size: 2.5vmax;
}

.anchors>ul{
    display: flex;
    width: 100%;
    text-align: center;
}

.anchors>ul>li{
    list-style: none;
    flex: 1;
}

.about{
    /* background-image: url(nara_minum.png); */
    background-color: black;
    background-repeat:no-repeat;
    background-size:100%;
    border-radius: 25px;
    margin: 30px 20% 30px 20%;
    /* border: red dotted 5px; */
}

.about>p{
    text-align: center;
    color: white;
    font-size: 2vmax;
    padding: 30px 30px 100px 30px;
}

.container-ButtonLinks{
    /* border: red 5px dotted; */
    margin: 20px 20% 20px 20%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 2vmax;
}

/* .container-ButtonLinks p{
    font-family: Helvetica, sans-serif;
} */

.ButtonLinks{
    background-color: lightpink;
    padding: 30px;
    border-radius: 10px;
    flex: 30%;
    margin: 5px; 
}

.ButtonLinks>p{
    color: white;
}

.ButtonLinks:nth-child(1){
    background-color: #0077b5;
}

@media (max-width: 850px){
    .anchors>ul{
        display: block;
    }

    .anchors a{
        font-size: 3vmax;
    }

    .title{
        padding: 2vmax;
        text-align: center;
    }

    .title p{
        font-size: 4vmax;
    }

    .about{
        margin: 30px 5% 30px 5%;
        /* border: red dotted 5px; */
    }

    .container-ButtonLinks{
        margin: 10px 5% 10px 5%;
    }

    .ButtonLinks{
        margin: 5px;
        flex: 100%;
    }

    .ButtonLinks>p{
        font-size: 2.5vmax;
    }
}